
#background {
    -fx-background-color: #558B2F;
    -fx-font-family: 'Tahoma' , sans-serif;
    -fx-font-size: 50px;
    -fx-text-fill: #FFFFFF;
}

#titleBar {
    -fx-background-color: #212121;
}

#question, #nextBar, #accuracy, #points, #equals, #title, #nextButton {
    -fx-text-fill: #FFFFFF;
}

#nextBar {
    -fx-background-color: #212121;
    -fx-font-size: 15px;
}

#nextButton {
    -fx-background-color: #ff4d44;
    -fx-font-size: 10px;
}

.button {
    -fx-background-radius: 0 0 0 0;
}
